.color-nav {
  background-color: #7f0000;
}

.texto_nav_color {
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.cuerpo-fondo {
  background-color: #212121;
}
